body{background-color: rgb(184, 163, 204);}
    h2 {color: rgb(180, 47, 47);}
        h4 {font-size: 25px;}
            h2 {font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma,serif ;}
                h5 {color: rgb(209, 80, 144);}
